<h1>New division</h1>

<form action="/wizard_divide">
  <label for="alice">
    Divide this:
  </label>
  <input id="alice" name="first_num" text="text">

  <label for="bob">
    by this:
  </label>
  <input id="bob" name="second_num" text="text">

  <button>
    Divide!
  </button>
</form>
